.blue-color{
	-fx-background-color: rgb(43.0,87.0,154.0); /* albastru */
}

.white-color{
	-fx-fill: rgb(255.0,255.0,255.0); /* alb */
}

.blue-color{
	-fx-fill: rgb(43.0,87.0,154.0); /* albastru */
}

.scrollerPane-style{
	-fx-max-width: 800.0px;
	-fx-min-width: 800.0px;
	-fx-min-height: 450.0px;
	-fx-max-height: 450.0px;
	-fx-background-color:transparent;
}

.scrollerPane-style:focused {
    -fx-background-insets: 0.0;
}

.scrollerPaneBlue-style{
	-fx-background: rgb(43.0,87.0,154.0);
	-fx-border-color: transparent;
	-fx-max-width: 800.0px;
	-fx-min-width: 800.0px;
	-fx-min-height: 450.0px;
	-fx-max-height: 450.0px;
	-fx-background-color:transparent;
}

.codeArea-style{
	-fx-background-color: rgb(43.0,87.0,154.0);
	-fx-max-width: 800.0px;
	-fx-min-width: 800.0px;
	-fx-min-height: 450.0px;
	-fx-max-height: 450.0px;
}

.scrollerPaneBlue-style:focused {
    -fx-background-insets: 0.0;
}

.button-raised{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14.0px;
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(43.0,87.0,154.0);
    -fx-pref-width: 200.0;
    -fx-text-fill: WHITE;
}

.datePicker-design{
	-jfx-default-color:rgb(43.0,87.0,154.0);
}

.keyword {
    -fx-fill: yellow;
    -fx-font-weight: bold;
}
.white {
    -fx-fill: white;
    -fx-font-weight: bold;
}

